In [1]:
import pandas as pd
df = pd.read_pickle('data/ga_hits-002.pkl')
df.head(5)

,session_id,hit_date,hit_time,hit_number,hit_type,hit_referer,hit_page_path,event_category,event_action,event_label,event_value
0,5639623078712724064.1640254056.1640254056,2021-12-23,597864.0,30,event,NaN,sberauto.com/cars?utm_source_initial=google&ut...,quiz,quiz_show,NaN,NaN
1,7750352294969115059.1640271109.1640271109,2021-12-23,597331.0,41,event,NaN,sberauto.com/cars/fiat?city=1&city=18&rental_c...,quiz,quiz_show,NaN,NaN
2,885342191847998240.1640235807.1640235807,2021-12-23,796252.0,49,event,NaN,sberauto.com/cars/all/volkswagen/polo/e994838f...,quiz,quiz_show,NaN,NaN
3,142526202120934167.1640211014.1640211014,2021-12-23,934292.0,46,event,NaN,sberauto.com/cars?utm_source_initial=yandex&ut...,quiz,quiz_show,NaN,NaN
4,3450086108837475701.1640265078.1640265078,2021-12-23,768741.0,79,event,NaN,sberauto.com/cars/all/mercedes-benz/cla-klasse...,quiz,quiz_show,NaN,NaN

In [2]:
missing_values = ((df.isna().sum()/len(df))* 100).sort_values(ascending=False)
missing_values

event_value       100.000000
hit_time           58.247795
hit_referer        39.899634
event_label        23.909905
session_id          0.000000
hit_date            0.000000
hit_number          0.000000
hit_type            0.000000
hit_page_path       0.000000
event_category      0.000000
event_action        0.000000
dtype: float64

In [3]:
df[~df['event_label'].isnull()]

,session_id,hit_date,hit_time,hit_number,hit_type,hit_referer,hit_page_path,event_category,event_action,event_label,event_value
1705,8507457065344678350.1640274130.1640274130,2021-12-23,45342.0,11,event,NaN,sberauto.com/cars?city=1&city=18&rental_car=re...,search_form,search_kpp,GYKKaSmRGxilGoDZiuEJ,NaN
1706,7052173715685263169.1640253250.1640253250,2021-12-23,179880.0,24,event,NaN,sberauto.com/cars?utm_source_initial=sber&utm_...,search_form,search_kpp,GYKKaSmRGxilGoDZiuEJ,NaN
1707,172753292911467256.1640258477.1640258477,2021-12-23,305136.0,37,event,NaN,sberauto.com/meleuz/cars/lada-vaz/vesta?genera...,search_form,search_kpp,nsSPWOGBZhTHYKHvcPDM,NaN
1708,8248318731776175434.1640256712.1640256712,2021-12-23,25465.0,11,event,NaN,sberauto.com/cars?utm_source_initial=google&ut...,search_form,search_kpp,GYKKaSmRGxilGoDZiuEJ,NaN
1709,8248318731776175434.1640256712.1640256712,2021-12-23,136230.0,31,event,NaN,sberauto.com/cars?utm_source_initial=google&ut...,search_form,search_kpp,ZMbQwFawhJjkrpMZWybs,NaN
...,...,...,...,...,...,...,...,...,...,...,...
15726343,7650737744079961935.1636777695.1636777695,2021-11-13,88827.0,25,event,NaN,sberauto.com/cars?utm_source_initial=sbol&utm_...,sap_search_form,sap_search_form_cost_to,ZcFHHzLJLupxTUBGKedT,NaN
15726344,9048260642671138754.1636800452.1636800452,2021-11-13,144286.0,34,event,NaN,sberauto.com/cars?utm_source_initial=sbol&utm_...,sap_search_form,sap_search_form_cost_to,OqBHqjYTCdPNjevEIDBT,NaN
15726345,9048260642671138754.1636800452.1636800452,2021-11-13,145488.0,37,event,NaN,sberauto.com/cars?utm_source_initial=sbol&utm_...,sap_search_form,sap_search_form_cost_to,MIBIGysMtuJvWCdLZQMf,NaN
15726346,1708406149374525829.1636811142.1636811142,2021-11-13,133515.0,27,event,NaN,sberauto.com/cars?utm_source_initial=sbol&utm_...,sap_search_form,sap_search_form_cost_to,HwwdZKmoPIwCrQcFhgjf,NaN
15726347,3330831269504192642.1636798596.1636798596,2021-11-13,286246.0,23,event,NaN,sberauto.com/cars?utm_source_initial=sbol&utm_...,sap_search_form,sap_search_form_cost_to,MLsmDFEQUQZgZZjdDnsz,NaN

In [4]:
df[df['hit_time'].isnull()]

,session_id,hit_date,hit_time,hit_number,hit_type,hit_referer,hit_page_path,event_category,event_action,event_label,event_value
3982683,2090489085711517248.1621788223.1621788223,2021-05-23,NaN,120,event,HbolMJUevblAbkHClEQa,/cars/84051625,card_web,photos,KclpemfoHstknWHFiLit,NaN
3982684,2090489085711517248.1621788223.1621788223,2021-05-23,NaN,108,event,HbolMJUevblAbkHClEQa,/cars/f657e32b,card_web,photos,KclpemfoHstknWHFiLit,NaN
3982685,6135069718318753731.1621791033.1621791033,2021-05-23,NaN,47,event,HbolMJUevblAbkHClEQa,/cars/71cb4df7,card_web,photos,KclpemfoHstknWHFiLit,NaN
3982686,7654559053777630819.1621784163.1621784163,2021-05-23,NaN,128,event,HbolMJUevblAbkHClEQa,/cars/0dd60f30,card_web,photos,KclpemfoHstknWHFiLit,NaN
3982687,2090489085711517248.1621788223.1621788223,2021-05-23,NaN,102,event,HbolMJUevblAbkHClEQa,/cars/2b7a8a89,card_web,photos,KclpemfoHstknWHFiLit,NaN
...,...,...,...,...,...,...,...,...,...,...,...
14094812,3460019526373833770.1634565161.1634565161,2021-10-18,NaN,15,event,HbolMJUevblAbkHClEQa,sberauto.com/cars/all/nissan/qashqai/bfc21661?...,card_web,view_card,KclpemfoHstknWHFiLit,NaN
14094813,1527146834285132863.1634565182.1634565182,2021-10-18,NaN,4,event,HbolMJUevblAbkHClEQa,sberauto.com/cars/all/nissan/qashqai/bfc21661?...,card_web,view_new_card,KclpemfoHstknWHFiLit,NaN
14094814,1527146834285132863.1634565182.1634565182,2021-10-18,NaN,7,event,HbolMJUevblAbkHClEQa,sberauto.com/cars/all/nissan/qashqai/bfc21661?...,card_web,view_new_card,KclpemfoHstknWHFiLit,NaN
14094815,3460019526373833770.1634565161.1634565161,2021-10-18,NaN,16,event,HbolMJUevblAbkHClEQa,sberauto.com/cars/all/nissan/qashqai/bfc21661?...,card_web,view_new_card,KclpemfoHstknWHFiLit,NaN
14094816,4016273174809030904.1634575158.1634575158,2021-10-18,NaN,10,event,HbolMJUevblAbkHClEQa,sberauto.com/cars/all/nissan/qashqai/bfc21661?...,navigation,click_on_logo,KclpemfoHstknWHFiLit,NaN

In [5]:
drop_col = ['event_value', 'hit_time', 'hit_referer', 'event_label']
df = df.drop(drop_col, axis=1)
df.head(10)

,session_id,hit_date,hit_number,hit_type,hit_page_path,event_category,event_action
0,5639623078712724064.1640254056.1640254056,2021-12-23,30,event,sberauto.com/cars?utm_source_initial=google&ut...,quiz,quiz_show
1,7750352294969115059.1640271109.1640271109,2021-12-23,41,event,sberauto.com/cars/fiat?city=1&city=18&rental_c...,quiz,quiz_show
2,885342191847998240.1640235807.1640235807,2021-12-23,49,event,sberauto.com/cars/all/volkswagen/polo/e994838f...,quiz,quiz_show
3,142526202120934167.1640211014.1640211014,2021-12-23,46,event,sberauto.com/cars?utm_source_initial=yandex&ut...,quiz,quiz_show
4,3450086108837475701.1640265078.1640265078,2021-12-23,79,event,sberauto.com/cars/all/mercedes-benz/cla-klasse...,quiz,quiz_show
5,6466333295973247896.1640246168.1640246168,2021-12-23,41,event,sberauto.com/cars?utm_source_initial=youtube&u...,quiz,quiz_show
6,281215510786615563.1640245516.1640245516,2021-12-23,102,event,sberauto.com/cars/toyota?isnew=false&rental_ca...,quiz,quiz_show
7,4024492994895054107.1640269084.1640269084,2021-12-23,85,event,sberauto.com/cars/all/mercedes-benz/glc/f8f330...,quiz,quiz_show
8,555009234841130092.1640256620.1640256620,2021-12-23,101,event,sberauto.com/cars/all/kia/sorento/c38179cb?utm...,quiz,quiz_show
9,2692901778487480807.1640206845.1640206845,2021-12-23,1,event,sberauto.com/cars/all/nissan/x-trail/0744675f?...,card_web,view_card

In [6]:
df['car_manufacturer'] = df.hit_page_path.apply(lambda x: x.split('sberauto.com/cars/all/')[1].split('/')[0] if x.startswith('sberauto.com/cars/all/') else "")
df['car_model'] = df.hit_page_path.apply(lambda x: x.split('sberauto.com/cars/all/')[1].split('/')[1] if x.startswith('sberauto.com/cars/all/') else "")
df.head()

,session_id,hit_date,hit_number,hit_type,hit_page_path,event_category,event_action,car_manufacturer,car_model
0,5639623078712724064.1640254056.1640254056,2021-12-23,30,event,sberauto.com/cars?utm_source_initial=google&ut...,quiz,quiz_show,,
1,7750352294969115059.1640271109.1640271109,2021-12-23,41,event,sberauto.com/cars/fiat?city=1&city=18&rental_c...,quiz,quiz_show,,
2,885342191847998240.1640235807.1640235807,2021-12-23,49,event,sberauto.com/cars/all/volkswagen/polo/e994838f...,quiz,quiz_show,volkswagen,polo
3,142526202120934167.1640211014.1640211014,2021-12-23,46,event,sberauto.com/cars?utm_source_initial=yandex&ut...,quiz,quiz_show,,
4,3450086108837475701.1640265078.1640265078,2021-12-23,79,event,sberauto.com/cars/all/mercedes-benz/cla-klasse...,quiz,quiz_show,mercedes-benz,cla-klasse

In [7]:
df = df.drop('hit_page_path', axis=1)

In [8]:
dfa = pd.DataFrame()
dfa[['session_id1', 'session_id2', 'session_id3']] = [pd.to_numeric(i.split('.')) for i in df.session_id]
df[['session_id1', 'session_id2', 'session_id3']] = dfa[['session_id1', 'session_id2', 'session_id3']]
df = df.drop('session_id', axis=1)
df.head()

,hit_date,hit_number,hit_type,event_category,event_action,car_manufacturer,car_model,session_id1,session_id2,session_id3
0,2021-12-23,30,event,quiz,quiz_show,,,5639623078712724064,1640254056,1640254056
1,2021-12-23,41,event,quiz,quiz_show,,,7750352294969115059,1640271109,1640271109
2,2021-12-23,49,event,quiz,quiz_show,volkswagen,polo,885342191847998240,1640235807,1640235807
3,2021-12-23,46,event,quiz,quiz_show,,,142526202120934167,1640211014,1640211014
4,2021-12-23,79,event,quiz,quiz_show,mercedes-benz,cla-klasse,3450086108837475701,1640265078,1640265078

In [9]:
import gc
del [[dfa]]
gc.collect()

0

In [10]:
df.to_pickle('data/ga_hits-003.pkl')

: